@charset "EUC-KR";

header{
	text-align: center;
}
footer{
	color:blue;
	text-align: center;
}

h1{
	text-align: center;
}


#form{
	display: inline-block;
	height: 100%;
	position: absolute;
		left: 250px;
		right: 0px;
	overflow: hidden;
	
}

#leftbar{
	display: inline-block;
	width: 20%;
	height: 100%;
	
}

#container{
	position: relative;
	width: 80%;
	height: 800px;
}