@charset "EUC-KR";

header{
	text-align: center;
}
footer{
	color:blue;
	text-align: center;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}
li{
	line-height: 30px;
}

a {
	text-decoration:none;
}

#form{
	display: inline-block;
	height: 100%;
	width: 40%;
	position: absolute;
		left: 100px;
		right: 0px;
	overflow: hidden;
	
	
}

#leftbar{
	display: inline-block;
	width: 20%;
	height: 100%;
	
	
}

